In [59]:
!pip install pymysql

import pandas as pd 
import pymysql 
e_count, p_count, n_count,e_vcount, p_vcount, n_vcount, com_count, com_vcount,k_val = 0,0,0,0,0,0,0,0,0

# 1. mysql connection진행
conn = pymysql.connect(host='autotrading-db.cjolqhecq70a.ap-northeast-2.rds.amazonaws.com',
                       user = 'admin',
                       password='autotrading1234',
                       db = 'AutoTrading',
                       charset = 'utf8')
curs = conn.cursor(pymysql.cursors.DictCursor) #dictionary로 접근

Requirement already satisfied: pymysql in ./anaconda3/lib/python3.7/site-packages (1.0.2)
WARNING: There was an error checking the latest version of pip.

In [60]:
# 11월 : 21일 ~ 31일
# 12월, 1월, 3월, 5월 : 31일
# 2월 : 28일
# 4월 : 30일
# 6월 : 4일 
d_list = []
for i in range (21, 31):    # 11월
  d_list.append("select * from comments where crawling_date='2021-11-"+str(i)+"'")

for i in range (1, 32):   # 12월
  if i < 10:
    d_list.append("select * from comments where crawling_date='2021-12-0"+str(i)+"'")
  else:
    d_list.append("select * from comments where crawling_date='2021-12-"+str(i)+"'")

for i in range (1, 7):
  if (i==1 or i==3 or i==5):  # 1, 3, 5월: 31일
    for j in range(1, 32):
      if j < 10:
        d_list.append("select * from comments where crawling_date='2022-0"+str(i)+"-0"+str(j)+"'")
      else:
        d_list.append("select * from comments where crawling_date='2022-0"+str(i)+"-"+str(j)+"'")
  elif (i==2):  #2월: 28일
    for j in range(1, 29):
      if j < 10:
        d_list.append("select * from comments where crawling_date='2022-0"+str(i)+"-0"+str(j)+"'")
      else:
        d_list.append("select * from comments where crawling_date='2022-0"+str(i)+"-"+str(j)+"'")
  elif (i==4):  #4월: 30일
    for j in range(1, 31):
      if j < 10:
        d_list.append("select * from comments where crawling_date='2022-0"+str(i)+"-0"+str(j)+"'")
      else:
        d_list.append("select * from comments where crawling_date='2022-0"+str(i)+"-"+str(j)+"'")
  else: # 6월: 4일
    for j in range(1, 5):
      d_list.append("select * from comments where crawling_date='2022-0"+str(i)+"-0"+str(j)+"'")

In [72]:
# 11월 : 21일 ~ 31일
# 12월, 1월, 3월, 5월 : 31일
# 2월 : 28일
# 4월 : 30일
# 6월 : 4일 
date_list = []
for i in range (21, 31):    # 11월
  date_list.append("2021-11-"+str(i))

for i in range (1, 32):   # 12월
  if i < 10:
    date_list.append("2021-12-0"+str(i))
  else:
    date_list.append("2021-12-"+str(i))

for i in range (1, 7):
  if (i==1 or i==3 or i==5):  # 1, 3, 5월: 31일
    for j in range(1, 32):
      if j < 10:
        date_list.append("2022-0"+str(i)+"-0"+str(j))
      else:
        date_list.append("2022-0"+str(i)+"-"+str(j))
  elif (i==2):  #2월: 28일
    for j in range(1, 29):
      if j < 10:
        date_list.append("2022-0"+str(i)+"-0"+str(j))
      else:
        date_list.append("2022-0"+str(i)+"-"+str(j))
  elif (i==4):  #4월: 30일
    for j in range(1, 31):
      if j < 10:
        date_list.append("2022-0"+str(i)+"-0"+str(j))
      else:
        date_list.append("2022-0"+str(i)+"-"+str(j))
  else: # 6월: 4일
    for j in range(1, 5):
      date_list.append("2022-0"+str(i)+"-0"+str(j))
print(date_list)

['2021-11-21', '2021-11-22', '2021-11-23', '2021-11-24', '2021-11-25', '2021-11-26', '2021-11-27', '2021-11-28', '2021-11-29', '2021-11-30', '2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04', '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12', '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30', '2021-12-31', '2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05', '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09', '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13', '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17', '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05', '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09', '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31', '2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08', '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12', '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16', '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24', '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28', '2022-04-29', '2022-04-30', '2022-05-01', '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06', '2022-05-07', '2022-05-08', '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-12', '2022-05-13', '2022-05-14', '2022-05-15', '2022-05-16', '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-21', '2022-05-22', '2022-05-23', '2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27', '2022-05-28', '2022-05-29', '2022-05-30', '2022-05-31', '2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04']

In [61]:
def totalWeight(comments_table):
    for i in range(len(comments_table)):
        totweight = comments_table.loc[i,'weight']*comments_table.loc[i,'vote']
        comments_table.loc[i,'totweight'] = totweight
    return comments_table

In [62]:
def sentimentCount(comments_table):
    sentcnt = comments_table['sentiment'].value_counts()
    global p_count, n_count, e_count, com_count, p_vcount, n_vcount, e_vcount, com_vcount
    com_count = len(comments_table)
    com_vcount = comments_table['vote'].sum()
    
    for i in range(len(comments_table)):
        if comments_table.loc[i,'sentiment'] == 'Positive':
            p_vcount += comments_table.loc[i,'vote']
        elif comments_table.loc[i,'sentiment'] == 'Negative':
            n_vcount += comments_table.loc[i,'vote']
        else:
            e_vcount += comments_table.loc[i,'vote']
            
    for i in range(len(sentcnt)):
        if sentcnt.index[i] == 'Neutral':
            e_count = sentcnt[i]
        elif sentcnt.index[i] == 'Positive':
            p_count = sentcnt[i]
        else:
            n_count = sentcnt[i]

In [63]:
def Kvalue(comments_table,com_vcount):    
    #K값 도출하기
    weight_sum = comments_table['totweight'].sum()
    global k_val
    Kweight = weight_sum/com_vcount
    k_val = 0.5-Kweight

In [73]:
no_sent = 0
sentiment_table = pd.DataFrame(columns = ['date','p_count', 'n_count', 'e_count', 'com_count', 'p_vcount', 'n_vcount', 'e_vcount', 'com_vcount', 'k_val'])
sentiment_table.loc[:,'date'] = date_list
sentiment_table

,date,p_count,n_count,e_count,com_count,p_vcount,n_vcount,e_vcount,com_vcount,k_val
0,2021-11-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
191,2022-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,2022-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,2022-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,2022-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,2022-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
for i in range(len(d_list)):
    query = d_list[i]
    curs.execute(query)
    
    datas_dict = curs.fetchall() 
    comments_table = pd.DataFrame(datas_dict)

    if comments_table.empty:
        no_sent += 1
        e_count, p_count, n_count,e_vcount, p_vcount, n_vcount, com_count, com_vcount = 0,0,0,0,0,0,0,0
        k_val = 0.5
    else:
        #print(comments_table)
        totalWeight(comments_table)
        sentimentCount(comments_table)
        Kvalue(comments_table,com_vcount)
        
    new_data = [p_count, n_count, e_count, com_count, p_vcount, n_vcount, e_vcount, com_vcount, k_val]
    sentiment_table.loc[i,'p_count'] = p_count
    sentiment_table.loc[i,'n_count'] = n_count
    sentiment_table.loc[i,'e_count'] = e_count
    sentiment_table.loc[i,'p_vcount'] = p_vcount
    sentiment_table.loc[i,'n_vcount'] = n_vcount
    sentiment_table.loc[i,'e_vcount'] = e_vcount
    sentiment_table.loc[i,'com_count'] = com_count
    sentiment_table.loc[i,'com_vcount'] = com_vcount
    sentiment_table.loc[i,'k_val'] = k_val

In [80]:
sentiment_table

,date,p_count,n_count,e_count,com_count,p_vcount,n_vcount,e_vcount,com_vcount,k_val
0,2021-11-21,13,21,38,72,1632,1366,3050,668,0.507749
1,2021-11-22,12,29,59,100,1741,1614,3532,839,0.592228
2,2021-11-23,15,24,61,100,1821,1722,3813,469,0.536785
3,2021-11-24,0,0,0,0,0,0,0,0,0.5
4,2021-11-25,29,18,53,100,226,122,305,653,0.311745
...,...,...,...,...,...,...,...,...,...,...
191,2022-05-31,14,25,61,100,752,613,1289,361,0.46652
192,2022-06-01,23,21,56,100,839,691,1453,329,0.457521
193,2022-06-02,34,18,48,100,1007,733,1663,420,0.278041
194,2022-06-03,32,15,53,100,1168,781,1823,369,0.266579
195,2022-06-04,25,23,52,100,1230,865,1949,272,0.541652

In [81]:
for i in range(len(sentiment_table)):
    if sentiment_table.loc[i,'com_count'] == 0.0:
        
        pre_p = sentiment_table.loc[i-1,'p_count']
        pre_n = sentiment_table.loc[i-1,'n_count']
        pre_e = sentiment_table.loc[i-1,'e_count']
        pre_com = sentiment_table.loc[i-1,'com_count']
        pre_pv = sentiment_table.loc[i-1,'p_vcount']
        pre_nv = sentiment_table.loc[i-1,'n_vcount']
        pre_ev = sentiment_table.loc[i-1,'e_vcount']
        pre_comv = sentiment_table.loc[i-1,'com_vcount']
        pre_k = sentiment_table.loc[i-1,'k_val']
        
        next_p = sentiment_table.loc[i+1,'p_count']
        next_n = sentiment_table.loc[i+1,'n_count']
        next_e = sentiment_table.loc[i+1,'e_count']
        next_com = sentiment_table.loc[i+1,'com_count']
        next_pv = sentiment_table.loc[i+1,'p_vcount']
        next_nv = sentiment_table.loc[i+1,'n_vcount']
        next_ev = sentiment_table.loc[i+1,'e_vcount']
        next_comv = sentiment_table.loc[i+1,'com_vcount']
        next_k = sentiment_table.loc[i+1,'k_val']
        
        cur_p = (pre_p+next_p)/2
        cur_n = (pre_n+next_n)/2
        cur_e = (pre_e+next_e)/2
        cur_com = (pre_com+next_com)/2
        cur_pv = (pre_pv+next_pv)/2
        cur_nv = (pre_nv+next_nv)/2
        cur_ev = (pre_ev+next_ev)/2
        cur_comv = (pre_comv+next_comv)/2
        cur_k = (pre_k+next_k)/2
        #print(cur_p,cur_n,cur_e,cur_com,cur_pv,cur_nv,cur_ev,cur_comv,cur_k)
        
        sentiment_table.loc[i,'p_count'] = cur_p
        sentiment_table.loc[i,'n_count'] = cur_n
        sentiment_table.loc[i,'e_count'] = cur_e
        sentiment_table.loc[i,'com_count'] = cur_com
        sentiment_table.loc[i,'p_vcount'] = cur_pv
        sentiment_table.loc[i,'n_vcount'] = cur_nv
        sentiment_table.loc[i,'e_vcount'] = cur_ev
        sentiment_table.loc[i,'com_vcount'] = cur_comv
        sentiment_table.loc[i,'k_val'] = cur_k

In [82]:
sentiment_table

,date,p_count,n_count,e_count,com_count,p_vcount,n_vcount,e_vcount,com_vcount,k_val
0,2021-11-21,13,21,38,72,1632,1366,3050,668,0.507749
1,2021-11-22,12,29,59,100,1741,1614,3532,839,0.592228
2,2021-11-23,15,24,61,100,1821,1722,3813,469,0.536785
3,2021-11-24,22.0,21.0,57.0,100.0,1023.5,922.0,2059.0,561.0,0.424265
4,2021-11-25,29,18,53,100,226,122,305,653,0.311745
...,...,...,...,...,...,...,...,...,...,...
191,2022-05-31,14,25,61,100,752,613,1289,361,0.46652
192,2022-06-01,23,21,56,100,839,691,1453,329,0.457521
193,2022-06-02,34,18,48,100,1007,733,1663,420,0.278041
194,2022-06-03,32,15,53,100,1168,781,1823,369,0.266579
195,2022-06-04,25,23,52,100,1230,865,1949,272,0.541652

In [90]:

    conn = pymysql.connect(host='autotrading-db.cjolqhecq70a.ap-northeast-2.rds.amazonaws.com',
                           user = 'admin',
                           password='autotrading1234',
                           db = 'AutoTrading',
                           charset = 'utf8mb4')
    curs = conn.cursor()  
    sql_rows = []

    for i in range(0,len(sentiment_table)):
        sql_row = (sentiment_table['date'][i],sentiment_table['p_count'][i],sentiment_table['n_count'][i],sentiment_table['e_count'][i],sentiment_table['k_val'][i],sentiment_table['com_count'][i],sentiment_table['n_vcount'][i],sentiment_table['p_vcount'][i],sentiment_table['e_vcount'][i],sentiment_table['com_vcount'][i])
        sql_rows.append(sql_row)

    #print(sql_rows)
    insert_comment = """insert into sentiment(crawling_date, p_count, n_count, e_count, k_val, com_count,n_vcount, p_vcount, e_vcount, com_vcount) values (%s, %s, %s, %s,%s, %s, %s, %s,%s,%s)"""
    #print(insert_comment)
    #print(insert_comment,sql_rows)
    curs.executemany(insert_comment,sql_rows)
    conn.commit()
    conn.close()